.container {
  width: 230px;
  height: 185px;
  border-radius: 8px;
  background-image: linear-gradient(135deg, #ff8244 0%, #df0707 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
}

.container .goods-earn {
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.container .goods-content {
  background: #ffffff;
  border-radius: 4px;
  width: 214px;
  height: 132px;
  padding: 6px;
  padding-right: 0;
  box-sizing: border-box;
  display: flex;
}

.container .goods-content .goods-img-wrap {
  width: 110px;
  height: 120px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.container .goods-content .goods-img-wrap .goods-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container .goods-content .goods-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 14px;
  align-items: center;
}

.container .goods-content .goods-right .right-des {
  font-size: 14px;
  color: #323233;
  line-height: 16px;
}

.container .goods-content .goods-right .right-price {
  margin-bottom: 4px;
}

.container .goods-content .goods-right .right-price .unit,
.container .goods-content .goods-right .right-price .value {
  font-weight: 600;
  font-size: 20px;
  color: #ff4444;
}

.container .goods-content .goods-right .right-price .unit {
  color: #ff4444;
  font-size: 14px;
  margin-right: 1px;
}

.container .goods-content .goods-right .right-shen {
  height: 14px;
  padding: 0 5px;
  background: rgba(250, 25, 25, 0.15);
  border-radius: 7px;
  font-size: 10px;
  color: #fa1919;
  line-height: 10px;
  display: flex;
  align-items: center;
}

.container .goods-content .goods-right .right-shen .label {
  margin-right: 2px;
}

.container .goods-content .goods-right .right-qiang {
  background-image: linear-gradient(180deg, #ff4f00 0%, #e00000 100%);
  border-radius: 17px;
  width: 86px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.container .goods-content .goods-right .mb14 {
  margin-bottom: 14px;
}

.container .goods-content .goods-right .right-bo {
  text-decoration: line-through;
  font-size: 12px;
  color: #969799;
  line-height: 14px;
}
